//==========
// Responsive Tables
//==========

@mixin table($break: medium) {
	background: none;
	border: 0;
	overflow-x: hidden;
	overflow-y: hidden;

	@include break($break) {
		overflow-x: scroll;
	}

	thead tr,
	tfoot tr {
		position: absolute;
		top: -9999px;
		left: -9999px;

		@include break($break) {
			position: static;
		}
	}

	td { 
		position: relative;
		width: auto;

		@include break($break) {
			position: static;
		}
	}

	table, thead, tbody, tfoot, th, td, tr {
		display: block; 
	}

	@include break($break) {
		table {
			display: table; 
		}
		thead {
			display: table-header-group; 
		}
		tbody {
			display: table-row-group; 
		}
		tfoot {
			display: table-footer-group; 
		}
		tr {
			display: table-row; 
		}
		th {
			display: table-cell; 
		}
		td {
			display: table-cell; 
		}
	}
}