%hidden {
	display: none !important;
}
%visible {
	display: block !important;
}

@each $size in $breakpoints {
	@include break($size, true) {
		%hidden-#{$size} {
			display: none !important;
		}
		%visible-#{$size} {
			display: block !important;
		}
	}

	@include break($size, false) {
		%hidden-#{$size}-up {
			display: none !important;
		}
		%visible-#{$size}-up {
			display: block !important;
		}
	}
}